<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.heewoong.brewstar">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BrewStar"
        tools:targetApi="31">
        <activity
            android:name=".navigation"
            android:exported="true"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.BrewStar.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MyCustomAdd"
            android:exported="false"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".MyCustomEdit"
            android:exported="false"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".kakaoLogin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <!-- scheme-example: "kakao{NATIVE_APP_KEY}" -->
                <data
                    android:host="oauth"
                    android:scheme="@string/kakao_redirection_scheme" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="3d141bca67cf695a3f7d7a7d5eb04c53" />
        </activity>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <!-- scheme-example: "kakao{NATIVE_APP_KEY}" -->
                <data
                    android:host="oauth"
                    android:scheme="@string/kakao_redirection_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>